<div class="row mt-5">
    <div class="col-md-9 m-auto">
    <div class="card">
        <div class="card-title">
            <h1 class="text-center mb-3 mt-3"><i class="fas fa-calendar-alt"></i>    Create an Event</h1>
        </div>
        <div class="card-body">
            <form action="/" method="POST">
                <%- include('_form_fields') %>
              </form>
        </div>
    </div>
    </div>
  </div>
